@import './variables';

@mixin responsive ($breakpoint) {

  @if $breakpoint == laptop {
    @media screen and (min-width: 992px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media screen and (min-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == phone {
    @media screen and (min-width: 576px) {
      @content;
    }
  }
}

@mixin icons($w) {
  width: $w;
  cursor: pointer;
}