@use "sass:list";
@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';


.main {
  margin-top: 15px;

  &__header {
    @include flex();
    justify-content: space-between;
  }

  &__title {
    font-size: .8rem;
    font-weight: 400;
    text-transform: uppercase;

    @include responsive(tablet) {
      font-size: .9rem;
    }
  }

  //form

  &__form {
    @include flex();
    gap: 15px;

    @include responsive(tablet) {
      gap: 30px;
    }
  }

  &__formHeader {
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;

    @include responsive(tablet) {
      font-size: .9rem;
    }
  }

  &__formGroup {
    @include flex();
    gap: 10px;

    @include responsive(tablet) {
      gap: 30px;
    }
  }

  &__checkbox {
    position: relative;
  }

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    outline: none;
  }

  &__visibleCheckbox {
    @include flex();
    gap: 5px;
  }

  &__control {
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid $black;
    border-radius: 1px;
  }

  &__label {
    font-size: .6rem;
    text-transform: capitalize;

    @include responsive(tablet) {
      font-size: .8rem;
    }
  }

  &__input:checked ~ &__visibleCheckbox &__control {
    background-color: $black;
  }

  //body

  &__body {
    margin-top: 20px;

  }

  //default main page

  &__default {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-column-gap: 15px;
    grid-row-gap: 50px;

    @include responsive(tablet) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, auto);
      grid-column-gap: 20px;
      grid-row-gap: 70px;
    }
  }

  $grid-tablet: (
          '01': list.slash(1, 1, 2, 2),
          '02': list.slash(1, 2, 2, 3),
          '03': list.slash(2, 1, 3, 2),
          '04': list.slash(3, 1, 4, 3),
          '05': list.slash(4, 1, 5, 2),
          '06': list.slash(4, 2, 5, 3),
          '07': list.slash(5, 1, 6, 2),
          '08': list.slash(6, 1, 7, 3),
  );

  @each $element, $i in $grid-tablet {
    &__#{$element} {
      grid-area: $i;
    }
  }

  @include responsive(tablet) {
    $grid-desktop: (
            '01': list.slash(1, 1, 2, 2),
            '02': list.slash(1, 2, 2, 3),
            '03': list.slash(1, 4, 2, 5),
            '04': list.slash(2, 1, 4, 3),
            '05': list.slash(2, 4, 3, 5),
            '06': list.slash(4, 1, 5, 2),
            '07': list.slash(4, 3, 5, 4),
            '08': list.slash(5, 2, 6, 4)
    );

    @each $element, $i in $grid-desktop {
      &__#{$element} {
        grid-area: $i;
      }
    }
  }

  //filtered main page

  &__filtered {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, auto);
    grid-column-gap: 15px;
    grid-row-gap: 30px;

    @include responsive(tablet) {
      grid-template-columns: repeat(4, 1fr);
      grid-row-gap: 50px;
    }
  }

  &__filteredCard {
    grid-area: initial;
  }

}