@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.main {
  margin-top: 15px;

  &__header {
    @include flex();
    justify-content: space-between;
  }

  &__title {
    font-size: .9rem;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__form {
    @include flex();
    gap: 30px;
  }

  &__formHeader {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__formGroup {
    @include flex();
    gap: 30px;
  }

  &__radio {
    position: relative;
  }

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    outline: none;
  }

  &__visibleRadio {
    @include flex();
    gap: 5px;
  }

  &__control {
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid $black;
    border-radius: 1px;
  }

  &__label {
    font-size: .8rem;
    text-transform: capitalize;
  }

  &__input:checked ~ &__visibleRadio &__checked {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: $black;
  }

}