@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import './assets/scss/variables';

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: $black;
}